
/*-- scss:rules --*/


#title-block-header.quarto-title-block.default .quarto-title .title {
  color: grey;
}

#title-block-header.quarto-title-block.default .quarto-categories .quarto-category {
    color: grey;
}


.description {
    color: grey;
}
